www/.env
www/.env.*

/db_data
/db_data/
/db_data/*
/db_data/**

www/public/uploads/cms/*
www/public/uploads/main/*
www/public/uploads/users/*
!www/public/uploads/

!www/reports/
www/reports/report.txt
