*::-webkit-scrollbar {
    display: none;
}
*{
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}
.edit-site{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
    align-self: center;
}

.input {
    width: 30%;
    background-color: transparent;
    border: 1px solid #2DC091;
    color: black;
    padding: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: normal;
    outline: none;
    font-size: 16px;
    margin: 5px;
  }

  .input:disabled{
      background-color: rgb(170, 170, 170);
  }
  .input:disabled:hover{
    cursor:not-allowed;
  }
  
  .input-100 {
    width: 100%;
  }
  
  .input::-moz-placeholder {
    color: #959595;
  }
  
  .input:-ms-input-placeholder {
    color: #959595;
  }
  
  .input::placeholder {
    color: #959595;
  }

  .input-banner-container {
    display: flex;
    flex-direction: column;
    border: 4px solid #2DC091;
  }
  
  .input-banner-container img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    aspect-ratio: 0.93;
  }
  
  .input-banner-container label {
    width: 100%;
    color: white;
    background: #2DC091;
    padding: 1em;
    font-size: 16px;
    text-align: center;
    transition: 0.5s;
  }
  
  .input-banner-container label:hover {
    cursor: pointer;
    transition: 0.5s;
    color: #325348;
  }
  
  .input-banner-container input {
    display: none;
  }